- content_for :jumbotron do
  .jumbotron
    .container
      %h1 Tic Tac Toe
      %p Unneccesarily Complicated Tic Tac Toe

%h1 Welcome
%p
  We hope that you'll have a pleasant stay and enjoy a game of Tic-Tac-Toe or
  two.
